<div class="animated fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" name="search" [(ngModel)]="search" placeholder="Search Genre...">
                    <div class="input-group-append">
                        <button class="btn btn-primary" (click)="startSearch()" type="button">
                        <i class="fa fa-search"></i>
                        </button>
                        <button (click)="clearSearch()" class="btn btn-danger" type="button">
                        <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <button class="btn btn-danger"><i class="fa fa-plus fa-md"></i> Add Genre</button>
            </div>
        </div>
        <br><br>
        <div class="row" infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            (scrolled)="onScroll()">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let genre of genreList; let i=index">
                            <td>{{ i+1 }}</td>
                            <td>{{ genre.name }}</td>
                            <td>
                                <i style="cursor: pointer;" class="fa fa-trash fa-lg"></i>
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- LOADER -->
    <div *ngIf="isLoading" class="loder">
        <img src="assets/images/loader.gif" alt="loader" />  
    </div>
</div>