<div class="animated fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" (input)="startSearch()" name="search" [(ngModel)]="search" placeholder="Search Country...">
                    <div class="input-group-append">
                        <button (click)="clearSearch()" class="btn btn-danger" type="button">
                        <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row" 
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            (scrolled)="onScroll()">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Country Code</th>
                        <th>Telephone Code</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let country of countryList; let i=index">
                        <tr>
                            <td>{{ i+1 }}</td>
                            <td>{{ country.name }}</td>
                            <td>{{ country.country_code }}</td>
                            <td>{{ country.telephone_code ? country.telephone_code : '---' }}</td>
                            <td>
                                <i style="cursor: pointer;" (click)="openConfirmation(country.id)" *ngIf="country.is_active == 1" class="fa fa-toggle-on fa-lg"></i>
                                <i style="cursor: pointer;" (click)="openConfirmation(country.id)" *ngIf="country.is_active == 0" class="fa fa-toggle-off fa-lg"></i>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <!-- LOADER -->
    <div *ngIf="isLoading" class="loder">
        <img src="assets/images/loader.gif" alt="loader" />  
    </div>
</div>